.headerBox {
  padding-bottom: 7rem;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.mainName {
  width: 720px;
  animation: typing 1.8s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2.5rem;
  font-weight: 900;
  word-spacing: -5px;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.fadeInBox {
  display: inline-block;
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.specialist {
  color: rgb(204, 120, 47);
  padding-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.headerContent {
  display: flex;
  font-weight: 500;
  height: 40%;
}

.profileImage {
  width: 250px;
  height: 100%;
  margin-right: 2rem;
}

.headerContentTitle {
  color: rgb(204, 120, 47);
}
